.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 120px;
    margin-top: 40px;
}

.login-app-description {
    margin: 30px 0 !important;
    font-size: 16px;
    text-align: center;
}

.ui-mobile label, .ui-controlgroup-label, .ui-controlgroup-label legend {
    font-size: 14px;
}

.ui-input-text {

    border: 1px solid #CCCCCC !important;
    padding: 5px 10px !important;
    border-radius: 8px !important;
    background: #FFFFFF !important;
    margin: 5px 0px 16px 0px !important;
}

.ui-icon-delete:after {
    background-color: #666666 !important;
}

.ui-input-text:after, .ui-input-search:after {
    background: none !important;
}

.ui-input-text input, .ui-input-search input, textarea.ui-input-text.ui-textinput-autogrow {
    font-size: 16px !important;
}

.title-grey {
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
    font-weight: 600;
    margin: 16px 0 8px 0;
}

.title-green {
    text-transform: uppercase;
    color: green;
    font-size: 16px;
    font-weight: 600;
}

.title-green-smaller {
    text-transform: uppercase !important;
    color: green;
    font-size: 14px !important;
    font-weight: 500;
}

p {
    font-size: 14px;
    text-align: left;
}

.ui-content {
    padding: 0 !important;
}

.mountain {
    background: url("../img/mountain.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #dff4f3;
}

.select-month {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.select-month li {
    float: left;
    width: 30%;
    height: 30px;
    margin: 5px 1%;
    position: relative;
    box-sizing: border-box;
}

.select-month label, .select-month input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.select-month input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.select-month .ui-radio-on, .select-month .ui-radio-on:hover {
    background: orange;
    color: white !important;
}

.select-month label {
    border: 2px solid orange !important;
    cursor: pointer;
    z-index: 90 !important;
    border-radius: 25px !important;
    text-align: center !important;
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
}

.select-month label:after, .select-month label:before {
    display: none !important;
}

.select-month label:hover {
    background: #DDD;
}

.select-month .ui-checkbox, .select-month .ui-radio {
    position: initial !important;
}

.month-section {
    padding: 0 32px;
    border-bottom: 1px solid #CCC;
}

.goal-type-list {
    list-style: none !important;
    margin: 16px 0 0 0 !important;:
}

.goal-type-list li  {
    border-bottom: 1px solid #cccccc !important;
    padding: 0 16px !important;
}

.goal-type-list li:last-child {
    border-bottom: none !important;
}

.goal-type-list li p {
    white-space: initial !important;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.goal-type-list li a {
    text-decoration: none;
}

.goal-type-list li img {
    max-width: 100%; !important;
}

.goal-type-list li .col-xs-1, .goal-type-list li .col-xs-3, .goal-type-list li .col-xs-8 {
    display: flex;
    align-items: center;
    padding: 0 !important;
}

img {
    max-width: 100% !important;
}

.back-anchor {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CCCCCC !important;
    text-transform: uppercase;
}

.back-anchor img {
    height: 24px;
    width: 24px;
    margin: 0 16px 0 0;
}

.ui-btn {
    padding: 10px 16px !important;
    font-size: 14px !important;
}

.ui-btn-raised {
    background: orange !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
}

#goal_amount_selection, #exit-page {
    background-color: #dff4f3;
}

#login {
    background-color: #dff4f3;
}

#login .ui-content {
    padding: 16px !important;
}

.group-stats-header {
    background-color: #dff4f3;
}

.orange-round {
    width: 8px;
    height: 8px;
    background-color: orange;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.group-stat {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -22px .3125em 0 !important;
    border: 0;
    background-color: transparent;
}

.ui-disabled, .ui-state-disabled, button[disabled], .ui-select .ui-btn.ui-state-disabled {
    opacity: 1 !important;
}